body{
    text-transform: uppercase;
}

#first_section{
    background-image: url(background_first.png);
    background-color:red;
}
figure h1{
    font-size: 40pt;
    color:white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: italic;
}

#header_logo{
    max-width:79px;
    max-height:79px;
}

nav{
    margin-top:20px;
    height:60px;
    padding:20px;
    background-color: #f5c506;
}
nav a{
    
    font-size:1em;
    color:#b99403;
    
    text-align: center;
}

nav a img{
    padding-right:5px;
    width:2em;
}

video{
    width:100%;
}
.center-text h2:first-child{
    color:#f5c506;
}

.center-text{
    padding-top:auto;
    padding-bottom:auto;
    text-align:center;
    font-family: 'Asap';
    color:white;
    
}



#fourth_section{
    background-color:#4c4c4c;
    font-family: 'PT Sans';
}

#fourth_section h2{
    color:#f5c506;
    text-align: center;
    
}

#fourth_section ul{
    text-transform: none;
    color:#a9a9a7;
    font-size: 2em;
    list-style-type:none;
}

#fourth_section ul li::before{
    content: "•"; 
    padding-right: 20px;
    color: #f5c506;
    font-size: 1.6em; 
    font-weight:bold;
}

.devices{
    background-color: #4c4c4c;
}

#devices{
    
    width:100%;
}
footer{
    color:white;
    font-size:2em;
    background-color:#4c4c4c;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: italic;
}

@media screen and (min-width:640px){
    .desktop-hidden{
        display: none;
    }
}

@media screen and (max-width:610px){

    figure h1{
        font-size:1em;
        color:blue;
    }
    .mobile-only{
           display: none;
       }
    header{
        width:100%;
        height:20%px;
        background-color:blue;
    }
    
    nav a{
        background-color: #f5c506;
    }
   }